@import url('https://fonts.googleapis.com/css?family=Megrim');

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom, #1D40CE, rgba(225, 36, 187, 1));
  background-repeat: no-repeat;
}

.container {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.hero-text {
  margin: 20px 3em 20px 3em;
  font-family: 'Megrim', cursive;
  color: white;
  font-weight: 300;
  font-size: 3.5em;
  text-align: center;
}
h2 {
  font-family: 'Segoe UI', 'Roboto Sans', 'San Francisco', sans-serif;
  font-weight: 400;
  color: rgba(255,255,255,0.7);
}